/* General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  --primary-color: hsl(233, 37%, var(--l));
  --color-text: hsl(233, 37%, var(--t));

  background-color: var(--primary-color);
  color: var(--color-text);
}

body {
  --l: 95%;
  --t: 17%;
}

/* header */
header {
  --l: 25%;
  --t: 95%;
  justify-content: space-between;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto; /* Una sola columna */
  grid-template-rows: auto auto; /* Dos filas */
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.logotipo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logotipo p {
  padding: 0.5rem;
}

nav {
  display: flex;
  border-radius: 1rem;
  padding: 0 0.8rem;
  --l: 50%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
}

nav li:hover,
nav li:active {
  --l: 17%;
}

/* main */
/* hero */

/* Contenedor padre */
.section-hero {
  container-type: inline-size; /* Habilita medición */
  container-name: hero-container; /* Le damos un nombre */
  padding: 1rem;
  max-width: 1400px; /* Importante: tener un ancho límite */
  margin: 0 auto;
}

/* Elemento hijo */
.hero {
  display: flex;
  --l: 95%;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

/* Container query */
@container hero-container (min-width: 580px) {
  .hero {
    flex-direction: row;
  }
}

.hero_title {
  margin: 2rem;
  text-align: center;
  align-content: center;
}

h1 {
  --t: 17%;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  --t: 17%;
}

.hero_image {
  margin: 0rem 2rem;
  text-align: center;
  align-content: center;
}

.hero img {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 50%;
}

/* olas*/
.waves {
  position: absolute;
  inset: auto 0 0 0;
  height: 120px;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200%;
  height: 100%;
}

.wave use {
  transform: translateZ(0);
} /* evita blur en algunos browsers */

/* Animación continua */
@keyframes moveX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1200px);
  }
}

.wave-front use {
  animation: moveX 12s linear infinite;
}
.wave-back use {
  animation: moveX 24s linear infinite;
}

/* roadmap */
.roadmap {
  --t: 17%;
  max-width: 1400px;
  margin: 2rem;
  padding: 1rem;
  position: relative;
  container-type: inline-size; /* Habilita medición */
  container-name: hero-container; /* Le damos un nombre */
}

.step {
  --l: 75%;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.step a {
  text-decoration: none;
}

.step h2 {
  margin-top: 0;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.step a:hover,
.step a:active {
  --l: 50%;
}

ul {
  padding: 0 2rem;
}

/* aside */
aside {
  --l: 75%;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.photo_container {
  text-align: center;
  align-content: center;
}

.photo {
  width: 12rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 10%;
}

.info {
  text-align: center;
  align-content: center;
}

.aside_social {
  display: flex;
  justify-content: center;
  margin: 1rem;
  justify-self: center;
}

.btn {
  margin: 0 1rem;
}

/* footer */
footer {
  --l: 25%;
  --t: 95%;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
