@import url("./tokens.css");

/* General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family-base);
}

/* header */
header {
  background: var(--gradient);
  color: var(--text-muted);
  justify-content: space-between;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto; /* Una sola columna */
  grid-template-rows: auto auto; /* Dos filas */
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.logotipo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logotipo p {
  padding: 0.5rem;
}

nav {
  display: flex;
  border-radius: 1rem;
  padding: 0 0.8rem;
  background-color: var(--brand);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: var(--bg);
}

nav li:hover,
nav li:active {
  background-color: var(--brand-hover);
}

/* main */
/* hero */

/* Contenedor padre */
.section-hero {
  container-type: inline-size; /* Habilita medición */
  container-name: hero-container; /* Le damos un nombre */
  max-width: 1400px; /* Importante: tener un ancho límite */
  padding: 1rem;
  margin: 0 auto;
}

/* Elemento hijo */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

/* Container query */
@container hero-container (min-width: 580px) {
  .hero {
    flex-direction: row;
  }
}

.hero_title {
  margin: 2rem;
  text-align: center;
  align-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero_image {
  margin: 0rem 2rem;
  text-align: center;
  align-content: center;
}

.hero img {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 50%;
}

/* roadmap */
.roadmap-card {
  display: grid;
  /* grid-template-columns: 1fr; */
  gap: 1rem;

  /* Habilitar container query */
  container-type: inline-size;
  container-name: main-container;
  color: var(--text-muted);
}

.roadmap {
  max-width: 1400px;
  margin: 2rem;
  padding: 1rem;
  container-type: inline-size; /* Habilita medición */
  container-name: hero-container; /* Le damos un nombre */
}

.step {
  background-color: var(--brand-hover);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 4px 6px var(--brand);
}

.step a {
  text-decoration: none;
  color: var(--text-muted);
}

.step h2 {
  margin-top: 0;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.tema {
  display: flex;
  margin-top: 0;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

ul {
  padding: 0 2rem;
}

.card-container {
  background-color: var(--brand-hover);
  border-radius: 12px;
  padding: 2rem;
  margin: 0 3rem 3rem 3rem;
  container-type: inline-size; /* Habilita medición */
  container-name: card-container; /* Le damos un nombre */
  max-width: 1400px; /* Importante: tener un ancho límite */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container query */
@container card-container (min-width: 500px) {
  .card {
    display: flex;
    flex-direction: row;
  }
}

.photo_container {
  text-align: center;
  align-content: center;
}

.photo {
  width: 12rem;
  height: 15rem;
  margin: 0.5rem;
  border-radius: 10%;
}

.info {
  text-align: center;
  align-content: center;
}

.info a {
  text-decoration: none;
  color: var(--text-muted);
}

.aside_social {
  display: flex;
  justify-content: center;
  margin: 1rem;
  justify-self: center;
}

.btn {
  margin: 0 1rem;
  background-color: var(--surface);
  border-radius: 5px;
  padding: 0.5rem;
}

.btn:hover,
.btn:active {
  background-color: var(--brand);
}

/* Cuando el contenedor mida mínimo 800px */
@container main-container (min-width: 800px) {
  .roadmap-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .roadmap {
    grid-column: span 3;
    grid-row: 1;
    margin: 0 3rem 0 0;
  }

  .card-container {
    grid-column: 1; /* Primera columna */
    grid-row: 1; /* Primera fila */
    margin: 1rem 0 0 3rem;
    height: min-content;
  }
}

/* footer */
footer {
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
