:root {
  /* Colores */
  --primary-50: #f9f6f8;
  --primary-100: #f5eef3;
  --primary-200: #ecdee8;
  --primary-300: #ddc4d5;
  --primary-400: #c79fb9;
  --primary-500: #b480a0;
  --primary-600: #9d6585;
  --primary-700: #8f5775;
  --primary-800: #6f455b;
  --primary-900: #5e3d4e;
  --primary-950: #37202c;
  --neutral-950: #0e0e10;
  --accent-500: #80a0b4;

  --color-bg: var(--primary-50);
  --color-secundary: var(--primary-700);
  --color-accent: var(--primary-500);
  --color-text: var(--neutral-950);
  --color-card: var(--primary-300);
  --gradiente: linear-gradient(135deg, var(--primary-300), var(--primary-950));

  /* Tipografía */
  --font-family-base: "Open Sans", sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;

  /* Espaciado */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}

/* modo oscuro */
.dark {
  --color-bg: var(--neutral-950);
  --color-text: var(--primary-50);
}
