:root {
  /* Colores */

  --black: #081012;
  --blue: #4d8fc3;
  --cream: #fff3eb;
  --sand: #e0ab9a;
  --coral: #ef8a84;

  --color-bg: var(--cream);
  --color-secundary: var(--blue);
  --color-accent: var(--coral);
  --color-text: var(--black);
  --gradiente: linear-gradient(135deg, var(--coral), var(--sand));

  /* Tipografía */
  --font-family-base: "Open Sans", sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;

  /* Espaciado */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}

/* modo oscuro */
@media (prefers-color-scheme: dark) {
  .dark {
    --color-bg: var(--black);
    --color-text: var(--cream);
  }
}
