@import url("./../css/tokens.css");
/* General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family-base);
}

/* header */
header {
  background: var(--gradient);
  color: var(--text-muted);
  justify-content: space-between;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto; /* Una sola columna */
  grid-template-rows: auto auto; /* Dos filas */
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.logotipo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logotipo p {
  padding: 0.5rem;
}

nav {
  display: flex;
  border-radius: 1rem;
  padding: 0 0.8rem;
  background-color: var(--brand);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: var(--text-muted);
}

nav li:hover,
nav li:active {
  background-color: var(--brand-hover);
}

/* main */
main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 4rem;
  background-color: var(--brand-hover);
  color: var(--text-muted);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header-article {
  font-size: 1.5rem;
}

.header-article p {
  font-size: 1rem;
}

article {
  padding-top: 2rem;
}

article h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

article p {
  margin-bottom: 1rem;
}

article pre {
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  margin-bottom: 1rem;
}

article code {
  font-family: monospace;
  font-size: 0.95rem;
}

article ul {
  padding-left: 3rem;
  margin-bottom: 1rem;
}

article a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

.tags {
  margin-top: 3rem;
}

.tags span {
  background-color: var(--surface);
  color: var(--text);
  padding: 0.3rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  font-size: 0.85rem;
}

/* footer */
footer {
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside_social {
  display: flex;
  justify-content: center;
  margin: 1rem;
  justify-self: center;
}

.btn {
  margin: 0 1rem;
  background-color: var(--surface);
  border-radius: 5px;
  padding: 0.5rem;
}

.btn:hover,
.btn:active {
  background-color: var(--brand);
}
